.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &__name {
    color: rgba(0, 0, 0, 0.956);
    font-family: "Press Start 2P", cursive;
    font-size: 32px;
    position: relative;
  }
  &__img {
    transform: scale(1.8);
    filter: opacity(.9);
  }
  &__attack {
    font-family: "Press Start 2P", cursive;
  }
}
